<!DOCTYPE html>
<html>
   <head>
      <!-- En-tête de la page -->
      <meta charset="utf-8" />
      <title>Calendrier Campus HEP Nanates</title>
      <link rel="stylesheet" href="css/style.css" media="all">
      <link rel="stylesheet" href="css/svg.css" media="all">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

      <link rel="icon" type="image/png" href="img/icon.PNG" />
   </head>
   <body>
      <!-- Corps de la page -->
      <div class="container-fluid">
      <div class="row">
      <!--Contenu de la carte-->
      <div class="col-lg-8 content">
         <div id="svg-container" class="svg-actif-0">
            <% svg.forEach( curr_svg => { %>
            <%- curr_svg %>
            <% }) %>
         </div>
         <div id="controls">
            <div onclick="controlPrec()"><span class="glyphicon glyphicon-arrow-up"></span></div>
            <div onclick="controlAcceuil()"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
            <div onclick="controlSuiv()"><span class="glyphicon glyphicon-arrow-down"></span></div>
            <div onclick="startAuto()" id="startauto-control" ><span class="glyphicon glyphicon-play"></span></div>
         </div>
         <div class="vbottom">
            <hr class="hr-primary">
            <hr class="hr-danger" />
            <hr class="hr-success" />
            <hr class="hr-warning" />
            <h1>
               <p style="color:#1c0c37  !important; padding: 1px;">La dernière mise à jour : <%= new Date().toLocaleDateString() %></p>
            </h1>
            <hr class="hr-primary">
            <hr class="hr-danger" />
            <hr class="hr-success" />
            <hr class="hr-warning" />
         </div>
      </div>
      <!--Contenu évènement-->
      <div class="col-lg-4 evenement">
         <div style="text-align:center;padding:1em 0;">
            <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=fr&size=large&timezone=Europe%2FParis"
               width="100%" height="140" frameborder="0" seamless></iframe>
         </div>
         <div class="text-center">
            <hr class="hr-primary">
            <hr class="hr-danger" />
            <hr class="hr-success" />
            <hr class="hr-warning" />
            <h1>
               <p><span class="glyphicon glyphicon-info-sign"></span> Informations </p>
            </h1>
         </div>
         <hr class="hr-primary">
         <hr class="hr-danger" />
         <hr class="hr-success" />
         <hr class="hr-warning" />
         <div class="information">
            <div id="slideshow">
               <div>
                  <h3> <span class="glyphicon glyphicon-calendar"></span> CAMPUS HEP NANTES  </h3>
                  <img src="img/campus.jpg"  class="info">
               </div>
               <div>
                  <h3> <span class="glyphicon glyphicon-calendar"> </span> Le prochaine workshop sera le 04/02/2019 </h3>
                  <img src="img/wk.jpg"  class="info">
               </div>
               <div>
                  <h3><span class="glyphicon glyphicon-info-sign"></span> Il y a une réunion groupe dans la salle 200 à 10h </h3>
                  <img src="img/wk2.jpg" class="info">
               </div>
               <div>
                 <h1> <span class="glyphicon glyphicon-info-sign">  </span>
                  Un workshop est un mot anglais qui désigne un atelier axé sur un thème de travail au sein d'un congrès ou d'un salon professionnel. La présence du suffixe -shop induit en erreur et peut faire penser à un commerce. 
                 </h1>
               </div>
            </div>
         </div>
         <div class="vbottom">
            <table class="tblSlides">
               <tr>
                  <td width="50%">
                     <img src="img/CapushepNantes.PNG" class="campus">
                  </td>
                  <td style="float: right;">
                     <img class="mySlides" src="img/EPSI-Vignette.jpg">
                     <img class="mySlides" src="img/wis.png">
                     <img class="mySlides" src="img/idrac.jpg">
                     <img class="mySlides" src="img/IFAG.jpg">
                     <img class="mySlides" src="img/igefi.jpg">
                     <img class="mySlides" src="img/sup.jpg">
                  </td>
               </tr>
            </table>
         </div>
      </div>
      <div id="modal" class="closed">
         <table>
            <tbody>
               <tr>
                  <td>Time</td>
                  <td>Lundi</td>
                  <td>Mardi</td>
                  <td>Mercredi</td>
                  <td>Jeudi</td>
                  <td>Vendredi</td>
               </tr>
               <% Array(20 - 8).fill().map((_, i) => i + 8).forEach( (heure) => { %>
               <%
                  const nextHeure = heure + 1 < 10 ? `0${heure + 1}` : "" + (heure + 1)
                  heure = heure < 10 ? `0${heure}` : "" + heure
                  %>
               <tr>
                  <td><%= heure %>h00 - <%= heure %>h30</td>
                  <%- Array(5).fill().map(() => "<td></td>").join('') %>
               </tr>
               <tr>
                  <td><%= heure %>h30 - <%= nextHeure %>h00</td>
                  <%- Array(5).fill().map(() => "<td></td>").join('') %>
               </tr>
               <% }) %>
            </tbody>
         </table>
      </div>
      <script>const events = <%- JSON.stringify(events) %></script>
      <!--Script and generated style-->
      <script src="/socket.io/socket.io.js"></script>
      <script>const socket = io();</script>
      <script src="js/app.js"></script>
      <script src="js/svg.js"></script>
      <style>
         <% svg.map((_, index) => index+1).forEach( svg_animation_index => { %>
         .svg-actif-0 #lvl<%= svg_animation_index %> {
         animation-duration: 1.7s;
         animation-fill-mode: forwards;
         animation-name: svg-actif-0-<%= svg_animation_index %>;
         animation-delay: <%= (svg.length - svg_animation_index - 1) * 0.2 %>s;
         }
         @keyframes svg-actif-0-<%= svg_animation_index %> {
         from {
         top: 999px;
         opacity: 0;
         }
         to {
         top: <%= (svg.length - svg_animation_index) * 50 %>px;
         opacity: 1;
         }
         }
         <% svg.map((_, index) => index+1).forEach( svg_div_index => { %>
         <%
            const isCurrentSelected = svg_animation_index == svg_div_index;
            const animationSelector = "svg-actif-" + svg_animation_index + " #lvl" + svg_div_index;
            const animationName = "svg-animation-" + svg_animation_index + "-" + svg_div_index;
            const originalTop = (svg.length - svg_div_index) * 30;
            const nextTop = svg_animation_index < svg_div_index ?
              "-999px":
              svg_animation_index > svg_div_index ?
                "999px":
                "50px"
            %>
         .<%= animationSelector %> {
         animation-name: <%= animationName %>;
         animation-duration: 1.7s;
         animation-fill-mode: forwards;
         }
         @keyframes <%= animationName %> {
         from {
         top: <%= originalTop %>px;
         opacity : 1;
         transform: rotateX(55deg) rotateZ(-26deg);
         }
         35% {
         opacity: <%= isCurrentSelected ? "1" : "0" %>;
         }
         99% {
         display: initial;
         }
         to {
         display: <%= isCurrentSelected ? "initial" : "none" %>;
         top: <%= nextTop %> ;
         opacity: <%= isCurrentSelected ? "1" : "0" %>;
         transform: <%= isCurrentSelected ? "rotateX(0deg) rotateZ(0deg) translateX(35px);" : "rotateX(55deg) rotateZ(-26deg); translateX(80px)" %>;
         }
         }
         <% }) %>
         <% }) %>
      </style>
   </body>
</html>